.mask {
    display: inline-block;
}
.mask:not(:hover) * {
    opacity:0;
}
.mask:not(:hover), .mask:not(:hover) * {
    border-color: rgba(0,0,0,0);
    background: rgba(0, 0, 0, 1) !important;
    color: black;
}

.dice {
    background: #eee;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 7px;
    width: fit-content;
    word-break: break-all;
}

.dice .dice-prefix, .dice .dice-expression, .dice .dice-sum {
    font-weight: bold;
}

div[data-tag=video] iframe {
    height: 600px;
}

blockquote {
    padding-left: 1em;
    margin: 1em 0;
    color: #6b7a8c;
    border-left: 4px solid #cfd8e6;
}


/* region ambox */
.ambox table {
    font-size: 95%;
    width: 80% !important;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 25px;
    margin: 0 auto 10px;
}

.ambox td {
    padding: 0 !important;
    border: none !important;
}

.ambox-image {
    width: 80px;
    text-align: center;
}

.ambox-image img {
    max-width: 100%;
    padding: 0 !important;
    border: none !important;
    border-radius: 0;
    margin-bottom: 0;
}

.ambox-notice {
    padding: 0.25em 0.5em;
    border: 0;
}

.notice-bubble {
    position: relative;
    display: inline-block;
    background: #666;
    color: #fff;
    padding: 0.25em 0.5em;
    margin: 0.2em 0;
    border-radius: 0.3em
}

.notice-bubble-line {
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 0.25em 0.5em 0.25em 0;
    border-color: transparent #666 transparent transparent;
    left: -0.43em;
    bottom: 0.5em;
}

.ambox-smalltext {
    text-align:right;
}

.ambox-blue {
    border-left: 10px solid #1e90ff;
    background-color: rgba(209, 216, 224, 0.5);
}

.ambox-orange {
    border-left: 10px solid #E67E22;
    background-color: rgba(246, 221, 204, 0.5)
}

.ambox-green {
    border-left: 10px solid #28B463;
    background-color: rgba(213, 245, 227, 0.5)
}

.ambox-violet {
    border-left: 10px solid #8E44AD;
    background-color: rgba(235, 222, 240, 0.5)
}

.ambox-red {
    border-left: 10px solid #E74C3C;
    background-color: rgba(250, 219, 216, 0.5)
}

.ambox-essence {
    border-left: 10px solid #F47116;
    background: linear-gradient(to right, #F4A754, #DFF559, transparent) !important;
    background-size: 10px 10px;
    background-position: 0 0, 15px 15px
}

/* endregion */

.cke_reset_all table {
    width: auto !important;
}

.jinsom-bbs-single-content a {
    color: #2e9ad0;
}
